apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-service
  namespace: tms-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users-service
  template:
    metadata:
      labels:
        app: users-service
    spec:
      containers:
        - name: users-service
          image: task-manager:users-service
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          env:
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: sql-endpoint
                  key: endpoint
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-username
                  key: username
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: db-password
                  key: password
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: db-name
                  key: name
            - name: DB_DATABASE
              valueFrom:
                secretKeyRef:
                  name: db-name
                  key: name
            - name: DB_PORT
              value: "3306"
